<div class="container-fluid">
    <h3 class="my-articles">Articles</h3>
    {{#if articles.lenght}}
        {{#each articles as |article|}}
            <section class="article-list">
                <div class="col-12">
                    <div class="card-deck">
                        
                    </div>
                </div>
            </section>
</div>